doctype html 
html 
    head 
        title ajout d'une ville
    body 
        form(action="/city" method="POST") 
            p nom de la ville :
                input(type="text" name="ville")
            input(type="submit")
        