doctype html 
html 
    head 
        title voici le contenu du fichier
    body 
        table(border='2')
            tr 
                th identifiant 
                th ville 
            each val in data
                tr 
                    td= val.id
                    td
                        form(action="/city/"+val.id+ "?_method=PUT" method="POST") 
                            input(type="text" name="ville" value=val.name)
                            input(type="submit" value="change") 
                    td 
                        form(action="/city/"+val.id+ "?_method=DELETE" method="POST") 
                            input(type="submit" value="X") 